.container {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 300px;
	display: block;
	background-color: white;
	z-index: 1;
}

.textBox {
	position: relative;
	padding: 0 10px;
	height: auto;
	/*  CENTER HORIZONTALLY  */
	margin: auto;
	width: 55vw;
	/*  CENTER VERTICALLY  */
	top: calc(50% + calc(var(--header-height) / 2));
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.displayNone {
	display: none;
}
