.container {
	width: 100vw;
	height: var(--header-height);
	margin: 0;
	padding: 0;
	z-index: 2;
	opacity: 1;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: box-shadow 0.3s;
}

.fixed {
	position: fixed;
}

.sticky {
	position: sticky;
	top: var(--header-height);
	transition: top 0.3s;
}

.shadowDark {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
}

.shadowLight {
	box-shadow: 0px 2px 4px -1px rgba(255, 255, 255, 0.8),
		0px 4px 5px 0px rgba(255, 255, 255, 0.86);
}

.hide {
	top: calc(var(--header-height) - var(--header-height));
	transition: top 0.3s;
}

.displayNone {
	display: none;
}

.top0 {
	top: 0;
	transition: top 0ms;
}

/* .container:nth-child(1) {
	flex: 1 9999 0%;
}

.container:nth-child(2) {
	flex: 0 1 auto;
}

.container:nth-child(3) {
	flex: 1 1 0%;
} */
