#search-div {
  flex: 0 1 auto;
  max-width: 350px;
  width: 350px;
  /* margin: 0 20px 0 20px; */
}

/* #search-bar {
  width: 400px;
  height: var(--header-input-height);
  border: 0;
  padding: 5px 10px 5px 10px;
  text-align: center;
  background-color: #f3f3f3;
  font-size: inherit;
}

#search-bar::placeholder {
  color: #666;
}

#search-bar:focus {
  text-align: left;
  outline: none;
}

#search-bar:not(:focus) {
  color: #666;
} */
